.aboutpr {
  margin: 0;
  background-color: #202020;
  padding: 110px 70px;
}

.aboutpr__box {
  display: grid;
  grid-template-columns: 550px 1fr;
  grid-template-rows: 24px 40px;
  grid-auto-flow: column;
  color: #ffffff;
  text-align: left;
  margin: 70px 0 110px;
  row-gap: 26px;
  column-gap: 40px;
}

.aboutpr__paragraph {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.aboutpr__paragraph_big {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.aboutpr__paragraph_small {
  font-size: 14px;
  line-height: 20px;
}

.aboutpr__table {
  margin: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 228px 1fr;
  grid-template-rows: 36px 17px;
  row-gap: 14px;
}

.aboutpr__cell {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8B8B8B;
  margin: 0;
}

.aboutpr__cell_green {
  background-color: #3ddc84;
  color: #000000;
  font-weight: 400;
}

.aboutpr__cell_grey {
  background-color: #303030;
  color: #FFFFFF;
  font-weight: 400;
}
