.promo {
  margin: 0;
  background-color: #073042;
  padding: 50px 70px 60px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .promo {
    padding: 300px 44px 70px;
  }
}

@media (max-width: 430px) {
  .promo {
    padding: 183px 0 40px;
  }
}

.promo__text {
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  width: 626px;
  margin: 0 0 102px;
  padding: 0;
  line-height: 52px;
  letter-spacing: -0.04em;
  text-align: left;
}

@media (max-width: 800px) {
  .promo__text {
    width: 300px;
    text-align: center;
    margin: 0 auto 140px auto;
  }
}

@media (max-width: 430px) {
  .promo__text {
    font-size: 31px;
    line-height: 39px;
    margin-bottom: 60px;
  }
}

.promo__image {
  margin: 0;
  padding: 0;
  width: 722px;
  height: 244px;
  align-self: flex-end;
}

@media (max-width: 800px) {
  .promo__image {
    width: 100%;
    height: 230px;
    align-self: center;
  }
}


@media (max-width: 680px) {
  .promo__image {
    object-fit: cover;
  }
}