.aboutme {
  background-color: #202020;
  padding: 110px 70px 100px;
}

@media (max-width: 768px) {
  .aboutme {
    padding: 90px 50px;
  }
}

@media (max-width: 430px) {
  .aboutme {
    padding: 70px 14px;
  }
}

.aboutme__box {
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-template-rows: repeat(auto-fill, 1fr);
  margin: 66px 0 0;
  padding: 0;
  justify-items: flex-start;
  column-gap: 0;
}

@media (max-width: 1023px) {
  .aboutme__box {
    grid-template-columns: 1fr 255px;
  }
}

@media (max-width: 720px) {
  .aboutme__box {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
}

@media (max-width: 430px) {
  .aboutme__box {
    margin-top: 60px;
  }
}

.aboutme__infobox {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

@media (max-width: 1023px) {
  .aboutme__infobox {
    width: 364px;
  }
}

@media (max-width: 720px) {
  .aboutme__infobox {
    order: 2;
    width: 100%;
  }
}

.aboutme__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
  color: #ffffff;
  margin: 0 0 18px;
  padding: 0;
}

@media (max-width: 768px) {
  .aboutme__name {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

@media (max-width: 430px) {
  .aboutme__name {
    font-size: 30px;
    line-height: 36.31px;
    margin-bottom: 20px;
  }
}

.aboutme__job {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .aboutme__job {
    font-size: 12px;
    line-height: 18px;
  }
}

@media (max-width: 430px) {
  .aboutme__job {
    font-size: 11px;
    line-height: 16px;
  }
}

.aboutme__bio {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin: 26px 0 40px;
  padding: 0;
}

@media (max-width: 768px) {
  .aboutme__bio {
    font-size: 12px;
    line-height: 18px;
    margin-top: 20px;
  }
}

@media (max-width: 430px) {
  .aboutme__bio {
    font-size: 11px;
    line-height: 16px;
  }
}

.aboutme__photo {
  width: 270px;
  height: 327px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

@media (max-width: 1023px) {
  .aboutme__photo {
    width: 255px;
    height: 307px;
  }
}

@media (max-width: 720px) {
  .aboutme__photo {
    order: 1;
    width: 292px;
    height: 352px;
  }
}

@media (max-width: 292px) {
  .aboutme__photo {
    max-width: 100%;
    height: auto;
  }
}

.aboutme__github {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  padding: 0;
  margin: auto 0 0;
  opacity: 1;
  color: #ffffff;
}

.aboutme__github:hover {
  opacity: 0.7;
}
